  <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-md-6 portlets">
                  <div class="panel">
                    <div class="panel-header panel-controls">
                      <h3><strong>Light</strong> style</h3>
                    </div>
                    <div class="panel-content">
                      <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1_1" data-toggle="tab">Home</a></li>
                        <li class=""><a href="#tab1_2" data-toggle="tab">Profile</a></li>
                        <li><a href="#tab1_3" data-toggle="tab">Other Tab</a></li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab1_1">
                          <div class="row column-seperation">
                            <div class="col-md-6 line-separator">
                              <h3><strong>Big</strong> Title for your tab</h3>
                              <h4>Customize your tab as you want easily</h4>
                            </div>
                            <div class="col-md-6">
                              <p class="light">default, the textarea element comes with a vertical scrollbar (and maybe even a horizontal scrollbar). This vertical scrollbar enables the user to continue entering and reviewing their text (by scrolling up and down).</p>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="tab1_2">
                          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                        </div>
                        <div class="tab-pane fade" id="tab1_3">
                          <p>Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
          </div>
      
    <!-- END PRELOADER -->
    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a> 
    <script src="../assets/global/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="../assets/global/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="../assets/global/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
    <script src="../assets/global/plugins/gsap/main-gsap.min.js"></script>
    <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/global/plugins/jquery-cookies/jquery.cookies.min.js"></script> <!-- Jquery Cookies, for theme -->
    <script src="../assets/global/plugins/jquery-block-ui/jquery.blockUI.min.js"></script> <!-- simulate synchronous behavior when using AJAX -->
    <script src="../assets/global/plugins/bootbox/bootbox.min.js"></script> <!-- Modal with Validation -->
    <script src="../assets/global/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> <!-- Custom Scrollbar sidebar -->
    <script src="../assets/global/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script> <!-- Show Dropdown on Mouseover -->
    <script src="../assets/global/plugins/charts-sparkline/sparkline.min.js"></script> <!-- Charts Sparkline -->
    <script src="../assets/global/plugins/retina/retina.min.js"></script> <!-- Retina Display -->
    <script src="../assets/global/plugins/select2/select2.min.js"></script> <!-- Select Inputs -->
    <script src="../assets/global/plugins/icheck/icheck.min.js"></script> <!-- Checkbox & Radio Inputs -->
    <script src="../assets/global/plugins/backstretch/backstretch.min.js"></script> <!-- Background Image -->
    <script src="../assets/global/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script> <!-- Animated Progress Bar -->
    <script src="../assets/global/plugins/charts-chartjs/Chart.min.js"></script>
    <script src="../assets/global/js/builder.js"></script> <!-- Theme Builder -->
    <script src="../assets/global/js/sidebar_hover.js"></script> <!-- Sidebar on Hover -->
    <script src="../assets/global/js/application.js"></script> <!-- Main Application Script -->
    <script src="../assets/global/js/plugins.js"></script> <!-- Main Plugin Initialization Script -->
    <script src="../assets/global/js/widgets/notes.js"></script> <!-- Notes Widget -->
    <script src="../assets/global/js/quickview.js"></script> <!-- Chat Script -->
    <script src="../assets/global/js/pages/search.js"></script> <!-- Search Script -->
    <script src="../assets/admin/layout3/js/layout.js"></script>
  </body>
</html>

















































 

<!--<h3><strong>Datos </strong> Personales</h3>

<div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-md-6 portlets">
                  <div class="panel">
                    <div class="panel-header panel-controls">
                      <h3><strong>Light</strong> style</h3>
                    </div>
                    <div class="panel-content">
                      <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1_1" data-toggle="tab">Home</a></li>
                        <li class=""><a href="#mio" data-toggle="tab">Profile</a></li>
                        <li><a href="#tab1_3" data-toggle="tab">Other Tab</a></li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab1_1">
                          <div class="row column-seperation">
                            <div class="col-md-6 line-separator">
                              <h3><strong>Big</strong> Title for your tab</h3>
                              <h4>Customize your tab as you want easily</h4>
                            </div>
                            <div class="col-md-6">
                              <p class="light">default, the textarea element comes with a vertical scrollbar (and maybe even a horizontal scrollbar). This vertical scrollbar enables the user to continue entering and reviewing their text (by scrolling up and down).</p>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="mio">
                          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                        </div>
                        <div class="tab-pane fade" id="tab1_3">
                          <p>Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 portlets">
                  <div class="panel">
                    <div class="panel-header panel-controls">
                      <h3>Colored  <strong>version</strong></h3>
                    </div>
                    <div class="panel-content">
                      <ul class="nav nav-tabs nav-primary">
                        <li class=""><a href="#tab2_1" data-toggle="tab"><i class="icon-home"></i> Home</a></li>
                        <li class="active"><a href="#tab2_2" data-toggle="tab"><i class="icon-user"></i> Profile</a></li>
                        <li><a href="#tab2_3" data-toggle="tab"><i class="icon-cloud-download"></i> Other Tab</a></li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane fade" id="tab2_1">
                          <div class="row column-seperation">
                            <div class="col-md-6 line-separator">
                              <h3><strong>Big</strong> Title for your tab</h3>
                              <h4>Customize your tab as you want easily</h4>
                            </div>
                            <div class="col-md-6">
                              <p class="light">default, the textarea element comes with a vertical scrollbar (and maybe even a horizontal scrollbar). This vertical scrollbar enables the user to continue entering and reviewing their text (by scrolling up and down).</p>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade active in" id="tab2_2">
                          <h3>"Sooner or later, those who win are those who think they <strong>can</strong>."</h3>
                          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial.</p>
                        </div>
                        <div class="tab-pane fade" id="tab2_3">
                          <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="panel">
                    <div class="panel-header panel-controls">
                      <h3>From the <strong>Left...</strong></h3>
                    </div>
                    <div class="panel-content">
                      <div class="tab_left">
                        <ul  class="nav nav-tabs nav-red">
                          <li><a href="#tab3_1" data-toggle="tab"><i class="icon-home"></i> Home</a></li>
                          <li class="active"><a href="#tab3_2" data-toggle="tab"><i class="icon-user"></i> Profile</a></li>
                          <li><a href="#tab3_3" data-toggle="tab"><i class="icon-cloud-download"></i> Other Tab</a></li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane fade" id="tab3_1">
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                          </div>
                          <div class="tab-pane fade active in" id="tab3_2">
                            <h4>"SOONER OR LATER, THOSE WHO WIN ARE THOSE WHO THINK THEY CAN."</h4>
                            <p>Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                          </div>
                          <div class="tab-pane fade" id="tab3_3">
                            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="panel">
                    <div class="panel-header panel-controls">
                      <h3>...To the <strong>Right</strong></h3>
                    </div>
                    <div class="panel-content">
                      <div class="tab_right">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#tab4_1" data-toggle="tab">Home</a></li>
                          <li class=""><a href="#tab4_2" data-toggle="tab">Profile</a></li>
                          <li><a href="#tab4_3" data-toggle="tab">Other Tab</a></li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane fade" id="tab4_1">
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                          </div>
                          <div class="tab-pane fade active in" id="tab4_2">
                            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                          </div>
                          <div class="tab-pane fade" id="tab4_3">
                            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="panel">
                    <div class="panel-header panel-controls">
                      <h3><strong>Style 2</strong></h3>
                    </div>
                    <div class="panel-content">
                      <p>You can disable fade effect by removing <code>fade</code> class.</p>
                      <div class="nav-tabs2">
                        <ul class="nav nav-tabs nav-red">
                          <li><a href="#tab5_1" data-toggle="tab"><i class="icon-home"></i> Home</a></li>
                          <li class="active"><a href="#tab5_2" data-toggle="tab"><i class="icon-user"></i> Profile</a></li>
                          <li><a href="#tab5_3" data-toggle="tab"><i class="icon-cloud-download"></i> Other Tab</a></li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane" id="tab5_1">
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                          </div>
                          <div class="tab-pane active" id="tab5_2">
                            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                          </div>
                          <div class="tab-pane" id="tab5_3">
                            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="panel">
                    <div class="panel-header panel-controls">
                      <h3><strong>Style 3</strong></h3>
                    </div>
                    <div class="panel-content">
                      <p>You can change style by adding a class like <code>nav-tabs2</code> or <code>nav-tabs3</code> for this style.</p>
                      <div class="nav-tabs3">
                        <ul id="myTab6" class="nav nav-tabs">
                          <li class="active"><a href="#tab6_1" data-toggle="tab">Home</a></li>
                          <li class=""><a href="#tab6_2" data-toggle="tab">Profile</a></li>
                          <li><a href="#tab6_3" data-toggle="tab">Other Tab</a></li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane fade" id="tab6_1">
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                          </div>
                          <div class="tab-pane fade active in" id="tab6_2">
                            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                          </div>
                          <div class="tab-pane fade" id="tab6_3">
                            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 portlets">
              <div class="panel">
                <div class="panel-header panel-controls">
                  <h3><i class="icon-bulb"></i> Customize your <strong>Accordion</strong></h3>
                </div>
                <div class="panel-content">
                  <p>As for tabs, you can select your color simply adding <code> dark-accordion</code> class if you want dark version.</p>
                  <div class="row">
                    <div class="col-md-6">
                      <h3><strong>Light</strong> Accordion</h3>
                      <div class="panel-group panel-accordion" id="accordion">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4>
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                              Collapsible Group Item #1
                              </a>
                            </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4>
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                              Collapsible Group Item #2
                              </a>
                            </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4>
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                              Collapsible Group Item #3
                              </a>
                            </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <h3><strong>Dark</strong> Accordion</h3>
                      <div class="panel-group panel-accordion dark-accordion" id="accordion2">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4>
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                              Collapsible Group Item #1
                              </a>
                            </h4>
                          </div>
                          <div id="collapseOne2" class="panel-collapse collapse">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4>
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2">
                              Collapsible Group Item #2
                              </a>
                            </h4>
                          </div>
                          <div id="collapseTwo2" class="panel-collapse collapse">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4>
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2">
                              Collapsible Group Item #3
                              </a>
                            </h4>
                          </div>
                          <div id="collapseThree2" class="panel-collapse collapse in">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>











            <!--<div>
                <div class="row">
            <img src="../img/perfil.jpg" alt="" style="width:360px;height:150px; margin-top:15px;background-repeat:no-repeat;">

                  </div>
            </div>
           



                    
                    <div >
                        <div class="clearfix">
                            <h3 style="margin-left:15px; color:black;" > Razon Social : {{Profesional.razonSocial}}  </h3> 
                        </div>

                        <br>
                        
                          <div class="row">
                            <div class="col-sm-12">
                                <h3 style="margin-left:15px;"> Identificación :  {{Profesional.identificacion}} </h3>
                            </div>
                        </div>

                        <br>

                         <div class="row">

                            <div class="col-sm-12">
                                <h3 style="margin-left:15px;" > Correo :  {{Profesional.correo}} </h3>
                            </div>
                        </div>

                        <br>
                         
                           <div class="row">
                            <div class="col-sm-12">
                                <h3 style="margin-left:15px;" > Telefono :  {{Profesional.telefono}}  </h3>
                            </div>
                        </div>
                         <br>
                           <div class="row">
                            <div class="col-sm-12">
                                <h3 style="margin-left:15px;"> Experiencia : {{Profesional.experiencia}}
                                </h3>
                            </div>
                        </div>
                     </div>
                      
            
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            
            <img src="../img/perfil.jpg" alt="" style="width:170px;height:130px; margin-top:15px;">
           
            <br>
            <br>
            
             <div class=" t-center">
                      <button type="button"  style="background:#C9625F;"  class="btn btn-white btn-lg " data-toggle="modal"  data-target="#modal-responsive"><i class="fa fa-edit faa-vertical animated"></i></button>
                    </div>
                    

                </div>
        </div>-->









<!--<div class="row">
  <div class="col-lg-5">
            <div class="panel widget-member2 " style="background:">
                <div class="row">
                    
                    <div >
                        <div class="clearfix">
                            <h3 style="margin-left:15px; color:black;" > Razon Social : {{Profesional.razonSocial}}  </h3> 
                        </div>

                        <br>
                        
                          <div class="row">
                            <div class="col-sm-12">
                                <h3 style="margin-left:15px;"> Identificación :  {{Profesional.identificacion}} </h3>
                            </div>
                        </div>

                        <br>

                         <div class="row">
                            <div class="col-sm-12">
                                <h3 style="margin-left:15px;" > Correo :  {{Profesional.correo}} </h3>
                            </div>
                        </div>

                        <br>
                         
                           <div class="row">
                            <div class="col-sm-12">
                                <h3 style="margin-left:15px;" > Telefono :  {{Profesional.telefono}}  </h3>
                            </div>
                        </div>
                         <br>
                           <div class="row">
                            <div class="col-sm-12">
                                <h3 style="margin-left:15px;"> Experiencia : {{Profesional.experiencia}}
                                </h3>
                            </div>
                        </div>
                     <h3 style="color:yellow"> 
                        <uib-rating ng-model="Profesional.calificacion" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating">  </uib-rating>
                     </h3>
                     

                     </div>
                      
            
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            
            <img src="../img/perfil.jpg" alt="" style="width:170px;height:130px; margin-top:15px;">
           
            <br>
            <br>
            
             <div class=" t-center">
                      <button type="button"  style="background:#C9625F;"  class="btn btn-white btn-lg " data-toggle="modal"  data-target="#modal-responsive"><i class="fa fa-edit faa-vertical animated"></i></button>
                    </div>
                    

                </div>
        </div> -->  




    


<!--<div class="modal fade" id="modal-responsive" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
              <h4 class="modal-title">Datos Personales</h4>
            </div>
            <div class="modal-body">
                
              <div class="row">
                <div class="col-md-8">
                    
                    <div class="form-group">
                        <div class="t-center">
                            <label for="field-1" class="control-label">Razon Social</label>
                            <input type="text" class="form-control form-white" id="field-1 " ng-model="Profesional.razonSocial">
                            
                        </div>          
                    </div> 
                     <div class="form-group">
                        <div class="t-center">
                            <label for="field-1" class="control-label">Identifiacion</label>
                            <input type="text" class="form-control form-white" id="field-1" ng-model="Profesional.identificacion">
                        </div>          
                    </div> 
                     <div class="form-group">
                        <div class="t-center">
                            <label for="field-1" class="control-label">Correo</label>
                            <input type="text" class="form-control form-white" id="field-1" ng-model="Profesional.correo" >
                        </div>          
                    </div> 
                     <div class="form-group">
                        <div class="t-center">
                            <label for="field-1" class="control-label">Telefono</label>
                            <input type="text" class="form-control form-white " id="field-1" ng-model="Profesional.telefono">
                        </div>          
                    </div> 
                     <div class="form-group">
                        <div class="t-center">
                            <label for="field-1" class="control-label">Experiencia</label>
                            <input type="text" class="form-control form-white" id="field-1" ng-model="Profesional.experiencia">
                        </div>          
                    </div>                
                </div>
               </div>
            </div>
            <div class="modal-footer text-center">
              <button type="button" class="btn btn-primary btn-embossed bnt-square" ng-click="update()"><i class="fa fa-check"></i> Modificar</button>
            </div>
          </div>
        </div>
    </div>








<script src="../assets/global/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="../assets/global/plugins/datatables/jquery.dataTables.min.js"></script> <!-- Tables Filtering, Sorting & Editing -->
<!--<script src="../assets/global/js/pages/table_dynamic.js"></script>

<script src="../js/ui-bootstrap.js"></script>

<script src="js/builder.js"></script>
    <script src="js/application.js"></script>
    <script src="js/plugins.js"></script> 
    <script src="js/quickview.js"></script>-->

