<div class="">

  <div class="row">
    <div class="col-md-8">
      <div class="append-icon">
            <input type="text" name="firstname" id="finder" class="form-control form-white input-sm" placeholder="Search..." autofocus ng-model="filter">
            <i class="icon-magnifier"></i>
          </div>
    </div>
    <div class="col-md-2" >
      <button style="  background:#95C92C;"  type="button" class="btn btn-white btn" ng-click="nuevo()"><i style="color:white;"  class="fa fa-plus"></i></button>
    </div>    
  </div>
  <br>
